@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import './variables';
@import 'vuetify/styles.scss';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/rtl';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout/dark';
@import './layout/customizer';

@import './components/VBreadcrumb';
@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';
@import './components/VChip';
@import './components/VTooltip';
@import './components/VDatatables';
@import './components/VLabs';
@import './components/VStepper';
/*page css*/
@import 'landingpage/header';
@import 'landingpage/general';

@import 'front/header';
@import 'front/general';

@import 'pages/auth';
@import 'pages/dashboards';
@import 'pages/chart';
@import 'pages/apps';
@import 'pages/editor';
@import 'pages/widgets';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';