//
// global

.v-btn-group .v-btn {
    height: inherit !important;
}

.v-btn-group {
    border-color: rgb(var(--v-theme-borderColor)) !important;
}

.v-btn{
    text-transform: capitalize !important;
    letter-spacing: 0;
    border-radius: 30px !important;
    padding: 0 15px;

    &.v-btn--variant-elevated{
        box-shadow: none !important;
    }

    &.v-btn--icon{
        border-radius: 50%;
        padding: 0px;
    }
}

.v-btn--size-large{
    font-size: 14px;
}

.btn-white{
    background-color: rgb(var(--v-theme-surface)) !important;
    padding:10px 15px;
    &:hover{
        background-color: rgb(var(--v-theme-primary)) !important; 
        color: #fff !important;
    }
}

