.v-tooltip{
    .v-overlay__content{
        border-radius: $border-radius-root + 4 !important;
    }
}

.v-tooltip{
    &.custom-tooltip {
        .v-overlay__content {
            background: rgba(var(--v-theme-primary), 0.9);
            color: white;
        }
    }
}
