//
// Apex Chart
//

body {
    .apexcharts-tooltip {
      border-radius: 16px;
    }
  
    .apexcharts-tooltip-marker {
      border-radius: 4px;
      width: 12px;
      height: 4px;
    }
  
    .apexcharts-tooltip.apexcharts-theme-dark {
      background: rgba(17, 28, 45, 0.8);
  
      .apexcharts-tooltip-title {
        border-bottom: 0;
        background: rgba(17, 28, 45, 0.7);
      }
    }
  
    .apexcharts-tooltip-series-group {
      padding: 0 14px;
    }
  
    .apexcharts-tooltip-title {
      padding: 10px 14px;
    }
  }
  
